---
import ShortHeader from "../components/ShortHeader.astro";
import Projects from "../components/Projects.astro";
import Heatmap from "../components/Heatmap.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex-1 w-[calc(100vw-288px)] bg-[#f8f8f8] p-6">
    <ShortHeader />
    <Projects />
    <Heatmap />
  </div>
</Layout>
