---
import { INFO } from "../constants/info.constants";
import { formatFolderName } from "../utils/string.utils";
---

<div class="mb-6">
  <h3 class="font-medium mb-3">Folders</h3>
  <ul class="space-y-2">
    {
      Object.keys(INFO.FOLDERS).map((key) => (
        <li class="flex items-center text-gray-600 cursor-pointer">
          <svg
            class="w-5 h-5 mr-2 text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
            />
          </svg>
          <span class="text-sm">{formatFolderName(key)}</span>
        </li>
      ))
    }
  </ul>
</div>
