---
import ProjectCard from "./ProjectCard.astro";
import { PORTFOLIO } from "../constants/portfolio.constants";
---

<div class="grid project-grid gap-6 mb-10">
  {
    new Array(4)
      .fill(null)
      .map((item) => <ProjectCard project={PORTFOLIO.EVOLV_LMS_ADMIN} />)
  }
</div>
