---
import ShortHeaderItem from "./ShortHeaderItem.astro";
---

<div class="flex justify-between items-center mb-6">
  <h2 class="text-2xl font-bold">Projects</h2>
  <div class="flex space-x-8">
    <ShortHeaderItem title="Experience" subtitle="(5+ years)" />
    <ShortHeaderItem title="Work" subtitle="(35+ projects)" />
    <ShortHeaderItem title="Articles" subtitle="(20+)" />
  </div>
</div>
