---
const { title, subtitle } = Astro.props;
---

<div class="flex items-center cursor-pointer">
  <span class="font-medium mr-2">{title}</span>
  <span class="text-gray-500">{subtitle}</span>
</div>
