---
import Location from "./Location.astro";
import Folders from "./Folders.astro";
import Teams from "./Teams.astro";
import Links from "./Links.astro";
import UserCard from "./UserCard.astro";
---

<div class="w-72 shadow-sm p-6">
  <UserCard />
  <Location />
  <Links />
  <Folders/>
  <Teams />
</div>
