---
import { INFO } from "../constants/info.constants";
import { formatFolderName } from "../utils/string.utils";
---

<div>
  <h3 class="font-medium mb-3">Teams</h3>
  <div class="flex items-center space-x-2">
    {
      Object.keys(INFO.TEAMS).map((key) => (
        <div class="p-1 border border-[#bcbcbc] rounded-full">
          <div
            class="w-10 h-10 rounded-full bg-contain bg-center bg-no-repeat"
            style={`background-image:url(${INFO.TEAMS[key].logo})`}
            title={formatFolderName(key)}
          />
        </div>
      ))
    }
  </div>
</div>
