---
import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Shehzad Ahmed</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="w-full mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
      <Header />
      <div class="flex">
        <Sidebar />
        <div class="h-[calc(100vh-124px)] overflow-y-auto">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
